In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from scipy import stats

In [ ]:
%cd '/content/drive/MyDrive/ML-DL/CodeGym'
!ls

/content/drive/MyDrive/ML-DL/CodeGym
Credit_Scoring.csv			  Untitled11.ipynb  Untitled4.ipynb
GDPlist.csv				  Untitled12.ipynb  Untitled5.ipynb
house_price_Dống-Da_Hà-Nội_subdata.csv	  Untitled13.ipynb  Untitled6.ipynb
OnlineRetail.csv			  Untitled14.ipynb  Untitled7.ipynb
shopeep_koreantop_clothing_shop_data.csv  Untitled1.ipynb   Untitled8.ipynb
Untitled0.ipynb				  Untitled2.ipynb   Untitled9.ipynb
Untitled10.ipynb			  Untitled3.ipynb

In [ ]:
df = pd.read_csv('Credit_Scoring.csv', encoding="latin1")
df.head(3)

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,9,0,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149992 entries, 0 to 149991
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Unnamed: 0                            149992 non-null  int64
 1   SeriousDlqin2yrs                      149992 non-null  int64
 2   RevolvingUtilizationOfUnsecuredLines  149992 non-null  float64
 3   age                                   149992 non-null  int64
 4   NumberOfTime30-59DaysPastDueNotWorse  149992 non-null  int64
 5   DebtRatio                             149992 non-null  float64
 6   MonthlyIncome                         120262 non-null  float64
 7   NumberOfOpenCreditLinesAndLoans       149992 non-null  int64
 8   NumberOfTimes90DaysLate               149992 non-null  int64
 9   NumberRealEstateLoansOrLines          149992 non-null  int64
 10  NumberOfTime60-89DaysPastDueNotWorse  149992 non-null  int64
 11  NumberOfDependents                    146068 non-null  float64
dtypes: float64(4), int64(8)
memory usage: 13.7 MB

In [ ]:
df.isnull().sum()

Unnamed: 0                                  0
SeriousDlqin2yrs                            0
RevolvingUtilizationOfUnsecuredLines        0
age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           29730
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       3924
dtype: int64

In [ ]:
df = df.dropna()
df.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0
3,12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0
4,13,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0
5,14,1,0.964673,40,3,0.382965,13700.0,9,3,1,1,2.0

In [ ]:
df0 = df.loc[(df['NumberOfDependents']== 0.0)]
df1 = df.loc[(df['NumberOfDependents']!= 0.0)]

In [ ]:
t1, p1 = stats.ttest_ind(df0['MonthlyIncome'], df1['MonthlyIncome'], equal_var=False, alternative='less')
p1

1.79647850844303e-90

In [ ]:
if p1 >= 0.1:
  print('True')
else:
  print('False')

False

In [ ]:
dfs0 = df.loc[(df['SeriousDlqin2yrs']== 0)]
dfs1 = df.loc[(df['SeriousDlqin2yrs']!= 1)]

In [ ]:
t2, p2 = stats.ttest_ind(dfs0['NumberOfOpenCreditLinesAndLoans'], dfs1['NumberOfOpenCreditLinesAndLoans'], equal_var=False, alternative='less')
p2

0.5

In [ ]:
if p2 >= 0.1:
  print('True')
else:
  print('False')

True